<!DOCTYPE html>
<html>
<head>
  <title>Coordinate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Admin Page</h1>
<div>
</div>


<%= yield %>

</body>
</html>
